@include mq(laptop) {
}

@include mq(tablet) {
  .header {
    justify-content: center;
    &__logo {
      a {
        display: none;
      }
    }

    .navigation {
      ul {
        gap: 15px;
        li {
          a {
          }
          &:hover {
            a {
            }
          }
        }
      }
    }
  }
}

@include mq(mobile) {
}
